
.blue-orange-sidebar {
    height: 100vh;
    width: 300px;
    border-right: 2px solid var(--blue-orange-light-sidebar-border-color);
    background-color: var(--blue-orange-light-sidebar-background-color);
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 700px;
}

.dark .blue-orange-sidebar {
    border-right: 2px solid var(--blue-orange-dark-sidebar-border-color);
    background-color: var(--blue-orange-dark-sidebar-background-color);
}

.blue-orange-sidebar-closed {
    max-width: 52px;
    min-width: 52px;
}

.blue-orange-sidebar-control {
    position: absolute;
    height: 100%;
    width: 4px;
    right: -2px;
}

.blue-orange-sidebar-control:hover {
    background-color: var(--blue-orange-light-sidebar-control-color);
    cursor: col-resize;
}

.dark .blue-orange-sidebar-control:hover {
    background-color: var(--blue-orange-dark-sidebar-control-color);
}

.blue-orange-sidebar-control-disabled {
    display: none;
}

.blue-orange-sidebar-header {
    width: 100%;
}

.blue-orange-sidebar-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.blue-orange-sidebar-footer {
    width: 100%;
}