
.blue-orange-html-emoji-header-txt{
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.7rem;
    color: #393939;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}