

.blue-orange-default-avatar-empty{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark .blue-orange-default-avatar-empty {
    background-color: #3f3f42;
    color: var(--blue-orange-dark-default-text-color);
}
