
.blue-orange-checkbox-data-table-cell {
}

.blue-orange-checkbox-data-table-cell-inner-cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
}

.blue-orange-data-table-theme-object-list .blue-orange-checkbox-data-table-cell-inner-cont{
    border: none;
    border-bottom: 1px solid #e0e1e2;
}
