

.blue-orange-toast-container {
    position: fixed;
    display: flex;
    z-index: 100;
}

.blue-orange-toast-container-top-left {
    left: 10px;
    top: 10px;
    flex-direction: column;
}

.blue-orange-toast-container-top-right {
    right: 10px;
    top: 10px;
    flex-direction: column;
}

.blue-orange-toast-container-bottom-left {
    left: 10px;
    bottom: 10px;
    flex-direction: column-reverse;
}

.blue-orange-toast-container-bottom-right {
    right: 10px;
    bottom: 10px;
    flex-direction: column-reverse;
}

.blue-orange-toast-container-centre-top {
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    flex-direction: column;
    align-items: center;
}

.blue-orange-toast-container-centre-bottom {
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    flex-direction: column-reverse;
    align-items: center;
}

