
.blue-orange-data-table-cont {
    width: 100%;
    overflow-x: auto;
}

.blue-orange-data-table {
    width: 100%;
    border-collapse: collapse;
}

.blue-orange-data-table td {
    border: 1px solid var(--blue-orange-light-table-border-color);
    cursor: pointer;
}

.dark .blue-orange-data-table td {
    border: 1px solid var(--blue-orange-dark-table-border-color);
}

.blue-orange-data-table th {
    border: 1px solid var(--blue-orange-light-table-border-color);
}

.blue-orange-data-table th {
    border: 1px solid var(--blue-orange-dark-table-border-color);
}