

.blue-orange-rule-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-orange-rule-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.blue-orange-rule-header-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}