.diagram-workspace-main-window{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diagram-workspace-display-window {
    width: 95%;
    height: 95%;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
