

.blue-orange-default-alert{
    width: calc(80% - 30px);
    max-width: calc(500px - 30px);
    padding: 15px;
    border: 2px solid var(--blue-orange-light-alert-default-border-color);
    display: flex;
    flex-direction: row;
    background-color: var(--blue-orange-light-alert-default-background-color);
    border-radius: 4px;
    color: var(--blue-orange-light-default-error-color)
}

.dark .blue-orange-default-alert {
    border: 2px solid var(--blue-orange-dark-alert-default-border-color);
    background-color: var(--blue-orange-dark-alert-default-background-color);
    color: var(--blue-orange-dark-default-error-color)
}

.blue-orange-error-alert{
    width: calc(80% - 30px);
    max-width: calc(500px - 30px);
    padding: 15px;
    border: 2px solid var(--blue-orange-light-alert-error-border-color);
    display: flex;
    flex-direction: row;
    background-color: var(--blue-orange-light-alert-error-background-color);
    color: var(--blue-orange-light-alert-error-color);
    border-radius: 4px;
}

.dark .blue-orange-error-alert{
    border: 2px solid var(--blue-orange-dark-alert-error-border-color);
    background-color: var(--blue-orange-dark-alert-error-background-color);
    color: var(--blue-orange-dark-alert-error-color);
}

.blue-orange-success-alert{
    width: calc(80% - 30px);
    max-width: calc(500px - 30px);
    padding: 15px;
    border: 2px solid var(--blue-orange-light-alert-success-border-color);
    display: flex;
    flex-direction: row;
    background-color: var(--blue-orange-light-alert-success-background-color);
    color: var(--blue-orange-light-alert-success-color);
    border-radius: 4px;
}

.dark .blue-orange-success-alert{
    border: 2px solid var(--blue-orange-dark-alert-success-border-color);
    background-color: var(--blue-orange-dark-alert-success-background-color);
    color: var(--blue-orange-dark-alert-success-color);
}

.blue-orange-warning-alert{
    width: calc(80% - 30px);
    max-width: calc(500px - 30px);
    padding: 15px;
    border: 2px solid var(--blue-orange-light-alert-warning-border-color);
    display: flex;
    flex-direction: row;
    background-color: var(--blue-orange-light-alert-warning-background-color);
    color: var(--blue-orange-light-alert-warning-color);
    border-radius: 4px;
}

.dark .blue-orange-warning-alert{
    border: 2px solid var(--blue-orange-dark-alert-warning-border-color);
    background-color: var(--blue-orange-dark-alert-warning-background-color);
    color: var(--blue-orange-dark-alert-warning-color);
}
.blue-orange-default-alert-icon{
    padding-top: 2px;
    width: 40px;
    display: flex;
    justify-content: flex-start;
}

.blue-orange-default-alert-main-body{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

.blue-orange-default-alert-main-body-title {
    font-weight: 700;
    font-size: 1rem;
}

.blue-orange-default-alert-main-body-description {
    margin-top: 10px;
}
