.blue-orange-timeline-description {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--blue-orange-light-muted-text-color);
}

.dark .blue-orange-timeline-description {
    color: var(--blue-orange-dark-muted-text-color);
}
