


.blue-orange-default-context-menu{
    position: fixed;
    z-index: 10;
    background-color: white;
    min-width: 50px;
    overflow-y: auto;
}

.blue-orange-default-context-menu-row{
    width: calc(100% - 10px);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.blue-orange-default-context-menu-row:hover{
    background-color: #e0e1e2;
    transition: 0.2s;
}

.blue-orange-default-context-menu-row-icon{
    margin-right: 15px;
}

.blue-orange-default-context-menu-row-general-text{
    font-size: 0.7rem;
}