:root {
  --blue-orange-light-sidebar-border-color: #393939;
  --blue-orange-light-sidebar-background-color: #28282a;
  --blue-orange-dark-sidebar-border-color: #28282a;
  --blue-orange-dark-sidebar-background-color: #393939;

  --blue-orange-light-sidebar-control-color: dodgerblue;
  --blue-orange-dark-sidebar-control-color: dodgerblue;

  --blue-orange-light-sidebar-body-item-text-color: white;
  --blue-orange-dark-sidebar-body-item-text-color: white;

  --blue-orange-light-sidebar-body-item-hover-color: #28282a;
  --blue-orange-dark-sidebar-body-item-hover-color: #28282a;

  --blue-orange-light-sidebar-header-item-border-color: #28282a;
  --blue-orange-dark-sidebar-header-item-border-color: #28282a;

  --blue-orange-light-alert-default-border-color: #e0e1e2;
  --blue-orange-dark-alert-default-border-color: #28282a;
  --blue-orange-light-alert-default-background-color: #e0e1e2;
  --blue-orange-dark-alert-default-background-color: #28282a;
  --blue-orange-light-default-error-color: #393939;
  --blue-orange-dark-default-error-color: white;

  --blue-orange-light-alert-error-border-color: #F2D7D5;
  --blue-orange-dark-alert-error-border-color: #F2D7D5;
  --blue-orange-light-alert-error-background-color: #F2D7D5;
  --blue-orange-dark-alert-error-background-color: #F2D7D5;
  --blue-orange-light-alert-error-color: #922B21;
  --blue-orange-dark-alert-error-color: #922B21;

  --blue-orange-light-alert-success-border-color: #D5F5E3;
  --blue-orange-dark-alert-success-border-color: #D5F5E3;
  --blue-orange-light-alert-success-background-color: #D5F5E3;
  --blue-orange-dark-alert-success-background-color: #D5F5E3;
  --blue-orange-light-alert-success-color: #186A3B;
  --blue-orange-dark-alert-success-color: #186A3B;

  --blue-orange-light-alert-warning-border-color: #f9e79f;
  --blue-orange-dark-alert-warning-border-color: #f9e79f;
  --blue-orange-light-alert-warning-background-color: #f9e79f;
  --blue-orange-dark-alert-warning-background-color: #f9e79f;
  --blue-orange-light-alert-warning-color: #b7950b;
  --blue-orange-dark-alert-warning-color: #b7950b;

  --blue-orange-light-toaster-background-color: white;
  --blue-orange-dark-toaster-background-color: #28282a;
  --blue-orange-light-toaster-color: #393939;
  --blue-orange-dark-toaster-color: white;

  --blue-orange-light-toaster-error-background-color: #F2D7D5;
  --blue-orange-dark-toaster-error-background-color: #F2D7D5;
  --blue-orange-light-toaster-error-color: #922B21;
  --blue-orange-dark-toaster-error-color: #922B21;

  --blue-orange-light-toaster-success-background-color: #D5F5E3;
  --blue-orange-dark-toaster-success-background-color: #D5F5E3;
  --blue-orange-light-toaster-success-color: #186A3B;
  --blue-orange-dark-toaster-success-color: #186A3B;

  --blue-orange-light-toaster-warning-background-color: #f9e79f;
  --blue-orange-dark-toaster-warning-background-color: #f9e79f;
  --blue-orange-light-toaster-warning-color: #b7950b;
  --blue-orange-dark-toaster-warning-color: #b7950b;

  --blue-orange-light-primary-btn-border-color: black;
  --blue-orange-dark-primary-btn-border-color: black;
  --blue-orange-light-primary-btn-background-color: black;
  --blue-orange-dark-primary-btn-background-color: black;
  --blue-orange-light-primary-btn-color: white;
  --blue-orange-dark-primary-btn-color: white;

  --blue-orange-light-secondary-btn-border-color: #e0e1e2;
  --blue-orange-dark-secondary-btn-border-color: #e0e1e2;
  --blue-orange-light-secondary-btn-background-color: white;
  --blue-orange-dark-secondary-btn-background-color: white;
  --blue-orange-light-secondary-btn-color: black;
  --blue-orange-dark-secondary-btn-color: black;

  --blue-orange-light-danger-btn-border-color: #e11d48;
  --blue-orange-dark-danger-btn-border-color: #e11d48;
  --blue-orange-light-danger-btn-background-color: #e11d48;
  --blue-orange-dark-danger-btn-background-color: #e11d48;
  --blue-orange-light-danger-btn-color: white;
  --blue-orange-dark-danger-btn-color: white;

  --blue-orange-light-success-btn-border-color: #16a34b;
  --blue-orange-dark-success-btn-border-color: #16a34b;
  --blue-orange-light-success-btn-background-color: #16a34b;
  --blue-orange-dark-success-btn-background-color: #16a34b;
  --blue-orange-light-success-btn-color: white;
  --blue-orange-dark-success-btn-color: white;

  --blue-orange-light-warning-btn-border-color: #f97317;
  --blue-orange-dark-warning-btn-border-color: #f97317;
  --blue-orange-light-warning-btn-background-color: #f97317;
  --blue-orange-dark-warning-btn-background-color: #f97317;
  --blue-orange-light-warning-btn-color: white;
  --blue-orange-dark-warning-btn-color: white;

  --blue-orange-light-clear-btn-color: black;
  --blue-orange-dark-clear-btn-color: white;

  --blue-orange-light-btn-icon-border-color: #e0e1e2;
  --blue-orange-dark-btn-icon-border-color: #28282a;

  --blue-orange-light-chart-tooltip-background: black;
  --blue-orange-dark-chart-tooltip-background: #28282a;
  --blue-orange-light-chart-tooltip-title-color: #ABB4BE;
  --blue-orange-dark-chart-tooltip-title-color: white;
  --blue-orange-light-chart-tooltip-value-color: white;
  --blue-orange-dark-chart-tooltip-value-color: white;
  --blue-orange-light-chart-tooltip-general-text-color: white;
  --blue-orange-dark-chart-tooltip-general-text-color: black;

  --blue-orange-light-context-menu-background: white;
  --blue-orange-dark-context-menu-background: #28282a;
  --blue-orange-light-context-menu-row-hover-background: #e0e1e2;
  --blue-orange-dark-context-menu-row-hover-background: #47474a;

  --blue-orange-light-input-color: black;
  --blue-orange-dark-input-color: white;
  --blue-orange-light-input-border-color: #e0e1e2;
  --blue-orange-dark-input-border-color: #28282a;
  --blue-orange-light-input-background-color: white;
  --blue-orange-dark-input-background-color: black;
  --blue-orange-light-input-focus-border-color: black;
  --blue-orange-dark-input-focus-border-color: white;
  --blue-orange-light-input-select-background: #f7f7f9;
  --blue-orange-dark-input-select-background: #28282a;
  --blue-orange-light-input-search-background: #f7f7f9;
  --blue-orange-dark-input-search-background: #28282a;
  --blue-orange-light-input-search-icon-color: #f7f7f9;
  --blue-orange-dark-input-search-icon-color: #28282a;
  --blue-orange-light-phone-ext-color: #B2BABB;
  --blue-orange-dark-phone-ext-color: #B2BABB;

  --blue-orange-light-input-toggle-background-color: #ccc;
  --blue-orange-dark-input-toggle-background-color: #2196F3;
  --blue-orange-light-input-toggle-background-color-before: white;
  --blue-orange-dark-input-toggle-background-color-before: black;
  --blue-orange-light-input-toggle-checked-color: #2196F3;
  --blue-orange-dark-input-toggle-checked-color: #2196F3;

  --blue-orange-input-tag-primary-background-color: black;

  --blue-orange-light-input-tag-background-color: black;
  --blue-orange-dark-input-tag-background-color: #28282a;
  --blue-orange-light-input-tag-text-color: white;
  --blue-orange-dark-input-tag-text-color: white;
  --blue-orange-light-input-tag-hover-color: black;
  --blue-orange-dark-input-tag-hover-color: #28282a;
  --blue-orange-light-input-tag-remove-color: white;
  --blue-orange-dark-input-tag-remove-color: #28282a;
  --blue-orange-light-input-tag-placeholder-color: #757575;
  --blue-orange-dark-input-tag-placeholder-color: #757575;

  --blue-orange-light-input-dropdown-background-color: #f9f9f9;
  --blue-orange-dark-input-dropdown-background-color: #28282a;
  --blue-orange-light-input-dropdown-item-color: black;
  --blue-orange-dark-input-dropdown-item-color: white;
  --blue-orange-light-input-dropdown-item-hover-color: #f7f8f9;
  --blue-orange-dark-input-dropdown-item-hover-color: black;

  --blue-orange-light-input-dropdown-item-focus-color: #f7f8f9;
  --blue-orange-dark-input-dropdown-item-focus-color: #28282a;
  --blue-orange-light-input-dropdown-item-focus-background-color: #f7f8f9;
  --blue-orange-dark-input-dropdown-item-focus-background-color: #28282a;

  --blue-orange-light-input-emoji-background-color: white;
  --blue-orange-dark-input-emoji-background-color: black;
  --blue-orange-light-input-emoji-footer-background-color: #e0e1e2;
  --blue-orange-dark-input-emoji-footer-background-color: #28282a;
  --blue-orange-light-input-emoji-header-text-color: #393939;
  --blue-orange-dark-input-emoji-header-text-color: white;
  --blue-orange-light-input-emoji-header-border-bottom-color: #dedede;
  --blue-orange-dark-input-emoji-header-border-bottom-color: #28282a;
  --blue-orange-light-input-emoji-header-icon-active-color: dodgerblue;
  --blue-orange-dark-input-emoji-header-icon-active-color: dodgerblue;
  --blue-orange-light-input-emoji-general-text-color: black;
  --blue-orange-dark-input-emoji-general-text-color: white;
  --blue-orange-light-input-emoji-filter-background-color: white;
  --blue-orange-dark-input-emoji-filter-background-color: black;
  --blue-orange-light-input-emoji-option-hover-color: #f7f7f7;
  --blue-orange-dark-input-emoji-option-hover-color: #28282a;

  --blue-orange-light-date-picker-border-color: #e0e1e2;
  --blue-orange-dark-date-picker-border-color: #28282a;
  --blue-orange-light-date-picker-background-color: white;
  --blue-orange-dark-date-picker-background-color: black;

  --blue-orange-light-date-picker-day-color: #393939;
  --blue-orange-dark-date-picker-day-color: white;

  --blue-orange-light-date-picker-day-current-color: black;
  --blue-orange-dark-date-picker-day-current-color: white;

  --blue-orange-light-date-picker-selected-day-border-color: black;
  --blue-orange-dark-date-picker-selected-day-border-color: white;
  --blue-orange-light-date-picker-selected-day-background-color: black;
  --blue-orange-dark-date-picker-selected-day-background-color: white;
  --blue-orange-light-date-picker-selected-day-color: white;
  --blue-orange-dark-date-picker-selected-day-color: black;

  --blue-orange-light-date-picker-day-heading-color: #71717a;
  --blue-orange-dark-date-picker-day-heading-color: #71717a;

  --blue-orange-light-help-icon-color: #2c3e50;
  --blue-orange-dark-help-icon-color: #2c3e50;

  --blue-orange-light-required-icon-color: #e74c3c;
  --blue-orange-dark-required-icon-color: #e74c3c;

  --blue-orange-light-input-rich-text-editor-background-color: white;
  --blue-orange-dark-input-rich-text-editor-background-color: black;
  --blue-orange-light-input-rich-text-editor-border-color: #e0e1e2;
  --blue-orange-dark-input-rich-text-editor-border-color: #28282a;

  --blue-orange-light-input-rich-text-editor-heading-background-color: #f7f9f8;
  --blue-orange-dark-input-rich-text-editor-heading-background-color: #28282a;
  --blue-orange-light-input-rich-text-editor-heading-color: black;
  --blue-orange-dark-input-rich-text-editor-heading-color: white;

  --blue-orange-light-input-rich-text-editor-heading-sep-color: #e0e1e2;
  --blue-orange-dark-input-rich-text-editor-heading-sep-color: #28282a;

  --blue-orange-light-input-rich-text-editor-mention-items-background-color: #fff;
  --blue-orange-dark-input-rich-text-editor-mention-items-background-color: black;
  --blue-orange-light-input-rich-text-editor-mention-items-color: black;
  --blue-orange-dark-input-rich-text-editor-mention-items-color: white;

  --blue-orange-light-input-rich-text-editor-mention-item-selected-border-color: black;
  --blue-orange-dark-input-rich-text-editor-mention-item-selected-border-color: white;

  --blue-orange-light-input-rich-text-editor-mention-tippy-background-color: white;
  --blue-orange-dark-input-rich-text-editor-mention-tippy-background-color: #28282a;

  --blue-orange-light-input-rich-text-editor-file-upload-background-color: #e0e1e2;
  --blue-orange-dark-input-rich-text-editor-file-upload-background-color: #28282a;
  --blue-orange-light-input-rich-text-editor-file-upload-text-color: black;
  --blue-orange-dark-input-rich-text-editor-file-upload-text-color: white;

  --blue-orange-light-input-rich-text-editor-file-upload-error-background-color: #f5b7b1;
  --blue-orange-dark-input-rich-text-editor-file-upload-error-background-color: #f5b7b1;
  --blue-orange-light-input-rich-text-editor-file-upload-error-color: #943126;
  --blue-orange-dark-input-rich-text-editor-file-upload-error-color: #943126;

  --blue-orange-light-default-card-background: white;
  --blue-orange-dark-default-card-background: #28282a;

  --blue-orange-light-default-border-color: #e0e1e2;
  --blue-orange-dark-default-border-color: #28282a;

  --blue-orange-light-active-border-color: dodgerblue;
  --blue-orange-dark-active-border-color: dodgerblue;

  --blue-orange-light-simple-metric-border-color: #e0e1e2;
  --blue-orange-dark-simple-metric-border-color: #28282a;
  --blue-orange-light-simple-metric-color: black;
  --blue-orange-dark-simple-metric-color: white;

  --blue-orange-light-table-border-color: black;
  --blue-orange-dark-table-border-color: white;

  --blue-orange-light-badge-background-color: #18181b;
  --blue-orange-dark-badge-background-color: #18181b;
  --blue-orange-light-badge-color: white;
  --blue-orange-dark-badge-color: white;

  --blue-orange-light-default-text-color: black;
  --blue-orange-dark-default-text-color: black;

  --blue-orange-light-default-tag-background-color: #18181b;
  --blue-orange-dark-default-tag-background-color: #18181b;
  --blue-orange-light-default-tag-color: white;
  --blue-orange-dark-default-tag-color: white;

  --blue-orange-light-metrics-card-background-color: #E0e1e2;
  --blue-orange-dark-metrics-card-background-color: #28282a;
  --blue-orange-light-metrics-card-color: black;
  --blue-orange-dark-metrics-card-color: white;

  --blue-orange-light-file-system-selected-row-background: black;
  --blue-orange-dark-file-system-selected-row-background: black;
  --blue-orange-light-file-system-selected-row-color: white;
  --blue-orange-dark-file-system-selected-row-color: white;


}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue-orange-default-input-label-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  opacity: 0.8;
}
