.blue-orange-command-input-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0 12px;
    height: 44px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--blue-orange-light-command-border-color);
}

.dark .blue-orange-command-input-cont {
    border-bottom: 1px solid var(--blue-orange-dark-command-border-color);
}

.blue-orange-command-input-icon {
    font-size: 1rem;
    opacity: 0.6;
}

.blue-orange-command-input {
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
    font-size: 0.875rem;
    color: var(--blue-orange-light-command-color);
}

.dark .blue-orange-command-input {
    color: var(--blue-orange-dark-command-color);
}

.blue-orange-command-input::placeholder {
    color: var(--blue-orange-light-muted-text-color);
}

.dark .blue-orange-command-input::placeholder {
    color: var(--blue-orange-dark-muted-text-color);
}
