.blue-orange-message-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 140px;
}
.blue-orange-message-group {
    width: 100%;
    border-bottom: 1px solid #e0e1e2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.blue-orange-message-container .blue-orange-message-group:last-child{
    border-top: 1px solid #e0e1e2;
}

.blue-orange-message-txt > :first-child {
    margin-top: 7px;
    padding-top: 0;
}

.blue-orange-message {
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
}

.blue-orange-message-avatar{
    height: 32px;
    width: 32px;
    background: coral;
    overflow: hidden;
    border-radius: 4px;
}

.blue-orange-message-txt {
    width: calc(100% - 52px);
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blue-orange-message-cursor {
    display: inline-block;
    width: 0.5em;
    height: 1em;
    background-color: #393939;
    animation: blink 1s infinite;
    vertical-align: middle;
}

.blue-orange-message-cursor-left{
    margin-left: 5px;
}

.blue-orange-code-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}

.blue-orange-code-block-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
    padding: 10px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: black;
    color: white;
    opacity: 0.8;
    font-size: 0.9rem;
}

.blue-orange-copy-code {
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: none;
    color: white;
    opacity: 0.8;
}

.no-select {
    user-select: none;
}

pre {
    margin-top: 0;
}

.blue-orange-message-container .blue-orange-rich-text-editor code, pre {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background-color: #282c34 !important;
}

.blue-orange-message-container .blue-orange-code-block {
    border: none !important;
}

code {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
