
.passport-search-group{
    display: flex;
    position: relative;
    width: 100%;
}

.passport-search-group-icon {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: var(--blue-orange-light-input-search-icon-color);
    pointer-events: none;
}

.dark .passport-search-group-icon {
    color: var(--blue-orange-dark-input-search-icon-color);
}

.blue-orange-search-group-input {
    width: calc(100% - 47px);
    border: 1px solid var(--blue-orange-light-input-border-color);
    height: 34px;
    background-color: var(--blue-orange-light-input-search-background);
    color: var(--blue-orange-light-input-color);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 5px;
    font-size: 0.8rem;
}

.dark .blue-orange-search-group-input {
    border: 1px solid var(--blue-orange-dark-input-border-color);
    background-color: var(--blue-orange-dark-input-search-background);
    color: var(--blue-orange-dark-input-color);
}

.blue-orange-search-group-input:focus {
    outline: 1.5px solid var(--blue-orange-light-input-focus-border-color);
}

.dark .blue-orange-search-group-input:focus {
    outline: 1.5px solid var(--blue-orange-dark-input-focus-border-color);
}

