.blue-orange-command-group {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
}

.blue-orange-command-group-hidden {
    display: none;
}

.blue-orange-command-group-heading {
    padding: 6px 8px;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--blue-orange-light-command-group-label-color);
}

.dark .blue-orange-command-group-heading {
    color: var(--blue-orange-dark-command-group-label-color);
}
