.blue-orange-command-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    font-size: 0.875rem;
    cursor: pointer;
}

.blue-orange-command-item-active {
    background-color: var(--blue-orange-light-command-item-active-background-color);
}

.dark .blue-orange-command-item-active {
    background-color: var(--blue-orange-dark-command-item-active-background-color);
}

.blue-orange-command-item-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.blue-orange-command-item-icon {
    font-size: 1rem;
    opacity: 0.8;
}

.blue-orange-command-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    min-width: 0;
}
