
.blue-orange-toaster {
    padding: 24px;
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--blue-orange-light-toaster-background-color);
    margin: 10px;
    animation-duration: 0.3s;
    color: var(--blue-orange-light-toaster-color);
}

.dark .blue-orange-toaster {
    color: var(--blue-orange-dark-toaster-color);
    background-color: var(--blue-orange-dark-toaster-background-color);
}

.blue-orange-toaster-error {
    color: var(--blue-orange-light-toaster-error-color);
    background-color: var(--blue-orange-light-toaster-error-background-color);
}

.dark .blue-orange-toaster-error {
    color: var(--blue-orange-dark-toaster-error-color);
    background-color: var(--blue-orange-dark-toaster-error-background-color);
}

.blue-orange-toaster-success {
    color: var(--blue-orange-light-toaster-success-color);
    background-color: var(--blue-orange-light-toaster-success-background-color);
}

.dark .blue-orange-toaster-success {
    color: var(--blue-orange-dark-toaster-success-color);
    background-color: var(--blue-orange-dark-toaster-success-background-color);
}

.blue-orange-toaster-warning {
    color: var(--blue-orange-light-toaster-warning-color);
    background-color: var(--blue-orange-light-toaster-warning-background-color);
}

.dark .blue-orange-toaster-warning {
    color: var(--blue-orange-dark-toaster-warning-color);
    background-color: var(--blue-orange-dark-toaster-warning-background-color);
}

.blue-orange-toaster-text-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.blue-orange-toaster-text-group-heading {
    font-weight: 700;
    font-size: 1rem;
}

.blue-orange-toaster-text-group-description {
    font-size: 0.8rem;
    margin-top: 10px;
    opacity: 0.8;
}
