.blue-orange-stepper-separator {
    background-color: var(--blue-orange-light-stepper-separator-color);
    transition: background-color 0.15s ease-out;
}

.dark .blue-orange-stepper-separator {
    background-color: var(--blue-orange-dark-stepper-separator-color);
}

.blue-orange-stepper-separator-horizontal {
    flex-grow: 1;
    height: 2px;
    min-width: 16px;
    margin: 0 8px;
}

.blue-orange-stepper-separator-vertical {
    flex-grow: 1;
    width: 2px;
    min-height: 12px;
    margin: 4px 0;
}

.blue-orange-stepper-separator-completed {
    background-color: var(--blue-orange-light-stepper-separator-completed-color);
}

.dark .blue-orange-stepper-separator-completed {
    background-color: var(--blue-orange-dark-stepper-separator-completed-color);
}

@media (prefers-reduced-motion: reduce) {
    .blue-orange-stepper-separator {
        transition: none;
    }
}
