
.blue-orange-html-emoji-header{
    width: calc(100% - 15px);
    padding-left: 7.5px;
    padding-right: 7.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--blue-orange-light-input-emoji-header-border-bottom-color);
}

.dark .blue-orange-html-emoji-header{
    border-bottom: 1px solid var(--blue-orange-dark-input-emoji-header-border-bottom-color);
}
