
.blue-orange-sidebar-header-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 42px;
    border-bottom: 1px solid #e0e1e2;
    align-items: center;
    justify-content: center;
}

.blue-orange-sidebar-header-item-cont {
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.blue-orange-sidebar-header-item-left-cont {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.blue-orange-sidebar-header-item-media {
    margin-right: 15px;
}

.blue-orange-sidebar-header-item-media-body {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 700;
}

.blue-orange-sidebar-header-item-action {
    margin-left: 15px;
}

.blue-orange-sidebar-header-item-small-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}