

.blue-orange-sidebar-body-item {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blue-orange-sidebar-body-item:hover {
    background-color: #e0e1e2;
}

.blue-orange-sidebar-body-item-icon {
    margin-right: 15px;
}

.blue-orange-sidebar-body-item-left {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    cursor: pointer;
}

.blue-orange-sidebar-body-item-label {
    cursor: pointer;
}

