
.blue-orange-rich-text-editor {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 30px);
    margin-left: 15px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #e0e1e2;
    margin-bottom: 15px;
}

.blue-orange-rich-text-editor-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    background-color: #f7f9f8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blue-orange-rich-text-editor-vertical-line-sep {
    height: 1rem;
    width: 1px;
    border-right: 1px solid #e0e1e2;
    margin-right: 1px;
}

.tiptap {
    min-height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
}

.tiptap:focus {
    outline: none;
}

.blue-orange-rich-text-editor code, pre {
    word-wrap: break-word;
    font-family: Monaco,Menlo,Consolas,Courier New,monospace!important;
    font-size: 12px;
    font-variant-ligatures: none;
    line-height: 1.50001;
    -webkit-tab-size: 4;
    -moz-tab-size: 4;
    tab-size: 4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: normal;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 8px 4px;
}

.blue-orange-rich-text-editor p code {
    background-color: #f6f6f6;
    border: 1px solid #dadada;
    border-radius: 3px;
    color: #e01e5a;
    padding: 2px 3px 1px;
}

.blue-orange-rich-text-editor-heading-is-active {
    background-color: black;
    color: white;
}

.blue-orange-rich-text-editor blockquote {
    position: relative;
    padding-left: 16px;
}

.blue-orange-rich-text-editor blockquote:before {
    background: rgba(var(--sk_foreground_low_solid,221,221,221),1);
    content: "";
    border-radius: 8px;
    width: 4px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.blue-orange-rich-text-editor-heading-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.blue-orange-rich-text-editor-heading-footer-left-cont {
    display: flex;
    flex-direction: row;
}

.blue-orange-rich-text-editor .mention {
    border: 1px solid #000;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
    font-size: 0.8rem;
}

.blue-orange-rich-text-editor-mention-items {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9rem;
    overflow: hidden;
    padding: 0.2rem;
    position: relative;
}

.blue-orange-rich-text-editor-mention-item {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    display: block;
    margin: 0;
    padding: 0.2rem 0.4rem;
    text-align: left;
    width: 100%;
}

.blue-orange-rich-text-editor-mention-item-is-selected {
    border-color: #000;
}

.blue-orange-rich-text-editor-emoji-item {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0.2rem 0.4rem;
    width: 100%;
}

.blue-orange-rich-text-editor-emoji-item-is-selected {
    border-color: #000;
}

.blue-orange-rich-text-editor-emoji-item-display {
    margin-right: 10px;
}

[data-theme="blue-orange-rich-text-editor-mention-tippy"] {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

[data-theme="blue-orange-rich-text-editor-mention-tippy"] .tippy-arrow {
    display: none;
}

.blue-orange-rich-text-editor-mention-tippy .tippy-box {
    background-color: white;
}

