

.blue-orange-prompt {
    width: calc(80% - 20px);
    max-width: calc(740px - 38px);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 32px;
    border: 1px solid #393939;
    border-radius: 4px;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1041px) {
    .blue-orange-prompt {
        margin-left: 40px;
    }
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

.shadow{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.blue-orange-prompt-text-area{
    width: calc(100% - 30px);
    border: none;
    resize: none;
    height: 24px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #393939;
    max-height: 200px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.blue-orange-prompt-text-area::-webkit-scrollbar {
    display: none;
}

.blue-orange-prompt-send-btn{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #393939;
    position: absolute;
    right: 10px;
    bottom: 12px;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 4px;
    font-size: 0.9rem;
}

.blue-orange-prompt-send-btn-active{
    opacity: 1;
    background: dodgerblue;
    color: white;
}

.blue-orange-prompt-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
