

.blue-orange-sidebar-body-label {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--blue-orange-light-sidebar-body-item-text-color)
}

.dark .blue-orange-sidebar-body-label {
    color: var(--blue-orange-dark-sidebar-body-item-text-color)
}

.blue-orange-sidebar-closed .blue-orange-sidebar-body-label {
    display: none;
}

.blue-orange-sidebar-body-label-icon {
    margin-right: 15px;
}

.blue-orange-sidebar-body-label-left {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    cursor: pointer;
}

.blue-orange-sidebar-body-label-text {
    cursor: pointer;
}

