

.passport-user-management-loading-users{
    width: 100%;
    height: calc(100vh - 122px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.passport-user-management-loading-users-loading{
}

.passport-user-management-loading-users-message{
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 0.8;
    color: #393939;
}