

.blue-orange-tag{
    font-size: 14px;
    line-height: 20px;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 4px;
    background-color: var(--blue-orange-light-default-tag-background-color);
    color: var(--blue-orange-light-default-tag-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark .blue-orange-tag{
    background-color: var(--blue-orange-dark-default-tag-background-color);
    color: var(--blue-orange-dark-default-tag-color);
}